@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{--color-purple:#5011cc;--color-purple-dark:rgba(60,13,180);--color-gray-blue:#7c8ba1;--color-dark-blue:#243e63;--color-light:#f7fafc;--transition:all 300ms ease}
*{margin:0;padding:0;box-sizing:border-box;font-family:"Inter",sans-serif;color:var(--color-dark-blue)}
html{scroll-behavior:smooth}
body{max-width:100vw;overflow-x:hidden;background-color:#0f1420}
.row{width:100%;max-width:1280px;margin:0 auto}
.row__narrow{width:100%;max-width:1024px;margin:0 auto}
.container{padding:96px 0}
a{display:inline;text-decoration:none}
img{width:100%}
h1{font-size:48px;color:#1a202c;line-height:1.25}
h2{font-size:64px;color:#0055ff;line-height:1.25}
.purple{color:var(--color-purple)}
p{font-size:18px;line-height:1.5}
.section__tag{font-size:16px;color:var(--color-purple);letter-spacing:1.6px;font-weight:700;text-transform:uppercase}
.section__title{font-size:48px;font-weight:900;color:var(--color-light);line-height:1.5;margin:16px 0;letter-spacing:0.025em}
#features .section__title,#pricing .section__title{text-align:center}
.section__para{font-size:18px;font-weight:500;color:var(--color-gray-blue);line-height:1.625}
.btn{background-color:var(--color-purple);padding:12px 32px;border:none;border-radius:500px;font-size:14px;color:#fff;font-weight:bold;transition:var(--transition);cursor:pointer}
.btn:hover{background-color:var(--color-purple-dark)}
button{cursor:pointer;border:none}

/* NAVIGATION */
nav{padding-top:32px;display:flex}
.nav__logo{display:flex;align-items:center;margin:8px 0;padding-bottom:4px}
.nav__logo--title{color:#eee;font-weight:900;font-size:24px;margin-left:12px;padding-bottom:2px;letter-spacing:0.6px}
.nav__logo--img{height:40px;width:40px}
.nav__row{display:flex;justify-content:space-between}
.nav__container{width:100%;max-width:1200px;padding:0 24px;display:flex;justify-content:space-between;margin:0 auto}
.nav__links{display:flex;align-items:center;padding-bottom:2px}
.nav__link{margin:0 24px;color:#eee;font-size:14px;font-weight:600;padding-top:4px;letter-spacing:0.35px;border-bottom:2px solid transparent;position:relative;transition:var(--transition)}
.nav__link:after{content:"";position:absolute;left:0;bottom:-6px;height:2px;width:100%;background:var(--color-purple);transition:var(--transition);opacity:0}
.nav__link:hover:after{opacity:1}
.nav__link--primary{margin:0;padding:10px 32px;margin-top:2px;border-radius:9999px;color:#fff;background-color:var(--color-purple);line-height:1.5;border:none;width:auto;transition:var(--transition)}
.nav__link--primary:after{content:"";width:0;height:0}
.nav__link--primary:hover{background-color:var(--color-purple-dark);color:white}
.login{margin-left:48px}
.btn__menu{background-color:transparent;border:none;display:none;transition:var(--transition)}
.btn__menu--svg:hover{filter:invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%)}
.menu{position:fixed;top:0;left:0;right:0;height:378px;margin:24px 16px;padding:32px;background-color:#fff;border:1px solid rgb(229,231,235);border-radius:8px;z-index:4;visibility:hidden;opacity:0;transform:translateX(300%);transition:var(--transition)}
.menu__links{width:100%;height:100%;display:flex;flex-direction:column;align-items:center}
.menu__link{color:#1a202c;font-size:18px;font-weight:600;line-height:1.5;margin:8px 0;padding-bottom:4px;border-bottom:2px solid transparent}
.menu__link--primary{color:var(--color-light);padding:12px 32px;background:var(--color-purple);border-radius:500px;border:none}
.menu--open .menu{visibility:visible;opacity:1;transform:translateX(0)}
.btn__menu--close{position:fixed;top:24px;right:18px}

/* HEADER */
#landing{background-color:#0f1420}
section{padding:0 32px}
header .row{display:flex;align-items:center;justify-content:space-between}
.header__description{width:40%;padding-right:24px}
header h1{color:var(--color-light)}
.header__description--para{margin:32px 0;font-size:18px;line-height:1.625;color:#e2e8f0}
.header__email{position:relative;display:flex;justify-content:space-between;align-items:center;max-width:448px;border-radius:500px;border:2px solid #374151;background-color:#374151;height:64px}
.header__email--input{position:absolute;left:0;width:100%;height:100%;padding:0 192px 0 32px;border:none;border-radius:500px;font-weight:500;background-color:transparent;color:var(--color-light);transition:var(--transition)}
.header__email--input::placeholder{color:#a0aec0;opacity:1;font-size:16px}
.header__email--input:hover{border-color:#a0aec0}
.header__email--input:focus{outline:none;border-color:#cbd5e0}
.header__email--btn{position:absolute;right:8px;margin:0;padding:16px 0;width:160px;border-radius:500px;font-weight:700;font-size:16px;background-color:var(--color-purple-dark);color:var(--color-light);border:none;transition:var(--transition);line-height:1;cursor:pointer;z-index:10}
.header__email--btn:hover{background-color:rgba(40,8,120)}
.header__customers--title{font-size:12px;font-weight:700;margin-top:80px;color:#a0aec0;letter-spacing:0.05em}
.header__customers{margin-top:16px;padding-right:128px;opacity:0.5;width:550px;max-width:100%}
.header__img--wrapper{width:60%}

/* FEATURES */
#features{position:relative}
#features .row__narrow{display:flex;flex-direction:column;align-items:center}
#features .section__para{max-width:576px;margin-top:16px;text-align:center}
.features{display:flex;flex-wrap:wrap;margin-top:40px}
.feature{width:calc(100%/3);display:flex;flex-direction:column;padding:32px 8px}
.feature__row{display:flex;align-items:flex-start}
.feature__img--wrapper{border:1px solid rgb(226,232,240);border-radius:500px;padding:20px;flex-shrink:0;text-align:center}
.feature__img{height:24px;width:24px}
.feature__text{margin-left:16px;margin-top:8px}
.feature__title{font-size:24px;font-weight:700;color:#cbd5e0;line-height:1;letter-spacing:0.025em}
.feature__para{margin-top:16px;font-weight:500;color:var(--color-gray-blue);line-height:2}

/* QUALITY */
#quality .row{display:flex;justify-content:space-between;align-items:center}
.quality__description{width:50%;padding-right:64px}
.quality__description .section__para{margin-top:16px}
.quality__btn{margin-top:32px}
.quality__img--wrapper{width:50%;border:1px solid rgb(226,232,240);border-radius:4px;overflow:hidden}
.quality__img{max-width:100%}

/* STEPS */
#steps .row{display:flex;justify-content:space-between;align-items:center}
.steps__img--wrapper{width:50%}
.steps__img{max-width:100%}
.steps__description{width:50%;padding-left:64px}
.steps__description .section__title{margin:0;margin-top:16px}
.steps__list{margin-top:48px}
.step{display:flex;margin-top:32px}
.step:first-child{margin-top:0}
.step__number{font-size:36px;font-weight:600;line-height:1;color:rgb(203,213,224)}
.step__description{margin-left:24px}
.step__title{font-size:20px;font-weight:600;line-height:1;color:rgb(203,213,224)}
.step__para{font-size:14px;font-weight:500;line-height:2;color:#718096;max-width:320px;margin-top:12px}

/* VALUES */
#values .row{display:flex;justify-content:space-between;align-items:center}
.values__description{width:50%;padding-right:64px}
.values__description .section__para{margin-top:32px}
.values__list{display:flex;margin-top:32px}
.value{margin-right:32px}
.value:nth-of-type(1){margin-right:32px}
.value__top{display:flex}
.value__icon{background-color:rgb(154,230,180);padding:8px;border-radius:500px;display:flex;align-items:center;justify-content:center;flex-shrink:0}
.value:nth-of-type(2) .value__icon{background-color:rgb(254,178,178)}
.value__icon svg{height:20px;width:20px;stroke:rgb(39,103,73)}
.value:nth-of-type(2) .value__icon svg{stroke:rgb(155,44,44)}
.value__title{font-size:20px;font-weight:700;color:#cbd5e0;margin-left:12px}
.value__para{margin-top:16px;color:#718096;line-height:1.625}
.values__btn{margin-top:48px}
.values__img{width:50%}

/* PRICING */
#pricing .row__narrow{display:flex;flex-direction:column;align-items:center}
#pricing .section__para{max-width:576px;margin-top:16px;text-align:center}
.plans{display:flex;flex-wrap:wrap;justify-content:center;gap:24px;margin-top:64px;align-items:stretch;max-width:1280px;margin-left:auto;margin-right:auto}
.plan{width:calc((100% - 48px) / 3);position:relative;display:flex;flex-direction:column;border-radius:8px;box-shadow:rgba(0,0,0,0) 0 0 0 0,rgba(0,0,0,0) 0 0 0 0,rgba(0,0,0,0.1) 0 1px 3px 0,rgba(0,0,0,0.06) 0 1px 2px 0}
.plan:nth-child(2){background-image:linear-gradient(135deg,rgb(76,81,191) 0%,rgb(102,126,234) 100%)}
.plan__highlight{position:absolute;width:92%;left:50%;transform:translateX(-50%);top:0;height:8px;border-radius:8px 8px 0 0;overflow:hidden}
.plan:nth-child(1) .plan__highlight{color:#10b981}
.plan:nth-child(2) .plan__highlight{color:#56b2ac}
.plan:nth-child(3) .plan__highlight{color:#b91c1c}
.plan__top{padding:32px;display:flex;flex-direction:column;text-align:center;border-top-left-radius:8px;border-top-right-radius:8px}
.plan__title{font-size:20px;font-weight:700;line-height:1.5;color:#e0d9cb}
.plan:nth-child(2) .plan__title{color:white}
.plan__price{font-size:48px;font-weight:700;color:#cbd5e0;margin:4px 0}
.plan:nth-child(2) .plan__price{color:white}
.plan__duration{font-size:16px;font-weight:700;color:#cbd5e0;letter-spacing:1.6px}
.plan:nth-child(2) .plan__duration{color:white}
.plan__middle{display:flex;flex-direction:column;align-items:center;padding:32px;border-top:2px solid rgb(226,232,240);border-bottom:2px solid rgb(226,232,240)}
.plan:nth-child(2) .plan__middle{border-color:rgb(102,126,234)}
.plan__subtitle{font-size:20px;font-weight:700;color:#cbd5e0;line-height:1.5}
.plan:nth-child(2) .plan__subtitle{color:white}
.plan__features{margin-top:20px}
.plan__feature{font-size:16px;font-weight:500;color:#cbd5e0;margin-top:20px;line-height:1.625}
.plan:nth-child(2) .plan__feature{color:white}
.plan__bottom{padding:32px 32px;display:flex;justify-content:center;margin-top:auto}
.plan__btn{width:100%;padding:14px 48px;line-height:1.5;border-radius:50px;font-size:15px;font-weight:700;text-transform:uppercase;letter-spacing:0.05em;white-space:nowrap;border:none;display:flex;align-items:center;justify-content:center}
.plan:nth-child(1) .plan__btn{background-color:#10b981;color:white}
.plan:nth-child(2) .plan__btn{background-color:#1a1a1a;color:white}
.plan:nth-child(3) .plan__btn{background-color:#b91c1c;color:white}

/* TESTIMONIALS */
#testimonials .row{display:flex;align-items:center}
.testimonials__img{width:40%}
.testimonials__description{width:60%;padding-left:96px;max-width:640px}
.testimonials__description .section__para{margin-top:16px;max-width:560px;font-size:16px}
.testimonial{margin-top:48px}
.testimonial__stars{color:rgb(246,173,85)!important}
.testimonial__stars i{color:rgb(246,173,85)!important}
.testimonial__title{font-size:20px;font-weight:700;color:#cbd5e0;margin-top:16px;line-height:1.5}
.testimonial__para{margin:16px 0 40px 0;font-weight:500;color:var(--color-gray-blue);line-height:1.625;font-size:16px;max-width:560px}
.testimonial__bottom{display:flex;justify-content:space-between;align-items:center;max-width:560px}
.testimonial__profile{display:flex;align-items:center}
.testimonial__img{height:80px;width:80px;border-radius:500px;overflow:hidden}
.testimonial__details{margin-left:24px}
.testimonial__name{font-size:20px;font-weight:700;color:#cbd5e0;line-height:1.5}
.testimonial__position{font-weight:500;color:var(--color-gray-blue);line-height:1.5}
.testimonial__buttons{display:flex}
.testimonial__btn{background-color:#242424;padding:16px;margin:0 12px;border-radius:500px;border:none;color:var(--color-purple);transition:var(--transition)}
.testimonial__btn:hover{background-color:#343434}
.testimonial__btn svg{height:16px;width:20px;color:var(--color-purple)}
.testimonial__btn svg path{fill:var(--color-purple)}

/* START */
#start .row{position:relative;overflow:hidden;background-color:var(--color-purple);border-radius:16px;max-width:1280px;margin:0 auto}
.start__blob--1,.start__blob--2{position:absolute;height:288px;width:288px;opacity:0.05}
.start__blob--1{bottom:0;left:0;transform:translate(-100px,100px)}
.start__blob--2{top:0;right:0;transform:translate(100px,-100px)}
.start__container{padding:96px 0;display:flex;justify-content:center}
.start__row{width:100%;max-width:1280px;display:flex;justify-content:center;align-items:center;gap:80px;padding:0 32px}
.start__title{font-size:30px;font-weight:700;color:white;max-width:500px}
.start__buttons{display:flex}
.start__button{padding:20px 40px;font-size:16px;border-radius:500px;font-weight:700;line-height:1.5;transition:var(--transition)}
.start__button:nth-child(1){background-color:#B82020;color:white;margin-right:32px}
.start__button:nth-child(1):hover{background-color:#D83030}
.start__button:nth-child(2){background-color:transparent;color:white;border:1px solid rgb(160,174,192)}
.start__button:nth-child(2):hover{background-color:#000;color:var(--color-purple)}

/* FOOTER */
footer{padding:96px 32px;background-color:rgb(100,21,255);margin-bottom:-32px;position:relative;overflow:hidden}
.footer__blob--1,.footer__blob--2{position:absolute;height:320px;width:320px;opacity:0.05}
.footer__blob--1{bottom:0;left:0;transform:translate(-150px,150px)}
.footer__blob--2{top:0;right:0;transform:translate(150px,-150px)}
.footer__row{display:flex;flex-direction:column}
.footer__columns{display:flex;justify-content:space-between;flex-wrap:nowrap;gap:40px;width:100%}
.footer__column{display:flex;flex-direction:column;flex:1 1 0;min-width:0}
.footer__column--title{font-size:16px;font-weight:700;color:white;line-height:1.5}
.footer__column--link{font-size:14px;font-weight:500;color:white;border-bottom:2px solid transparent;margin-top:12px;line-height:2;cursor:pointer;transition:var(--transition);width:fit-content}
.footer__column--link:hover{border-bottom:2px solid white}
.footer__divider{width:100%;height:2px;background-color:rgb(116,44,255);margin:64px 0}
.footer__bottom{display:flex;justify-content:space-between;align-items:center;width:100%}
.footer__logo{display:flex;align-items:center;flex:1}
.footer__logo--img{height:32px;width:32px}
.footer__logo--text{font-size:20px;font-weight:900;color:white;margin-left:8px;line-height:1.5}
.footer__copyright{font-size:16px;font-weight:500;color:white;line-height:1.5;flex:1;text-align:center}
.footer__socials{display:flex;flex:1;justify-content:flex-end}
.footer__social--link{background-color:#000;color:white;padding:8px;border-radius:500px;margin-left:16px;cursor:pointer;transition:var(--transition)}
.footer__social--link:hover{background-color:#1a1a1a}
.footer__social--link svg{height:16px;width:16px;color:white}
.footer__social--link svg path{fill:white}

/* RESPONSIVE */
@media(max-width:1280px){
  header .row{
    align-items:flex-end
  }
}
@media(max-width:1024px){
  .btn__menu{display:block}
  .nav__links{display:none}
  header .row{flex-direction:column;align-items:center}
  .header__description{width:100%;max-width:512px;text-align:center;padding-right:0}
  .header__description--para{max-width:100%}
  .header__email{margin:0 auto}
  .header__customers{max-width:100%;padding-right:0;margin:0 auto;margin-top:16px}
  .header__img--wrapper{width:100%;max-width:768px;margin-top:64px}
  .quality__description,.values__description,.steps__description{width:100%;max-width:576px;padding-right:0;padding-left:0}
  .quality__img--wrapper,.values__img,.steps__img--wrapper{width:100%;max-width:576px}
  #quality .row,#values .row{flex-direction:column-reverse}
  .quality__description,.steps__description,.values__description{padding:0;margin-top:64px;text-align:center}
  .quality__description,.quality__img--wrapper,.steps__description,.steps__img--wrapper,.values__description,.values__img{width:100%;max-width:448px}
  .testimonials__img{width:35%;max-width:300px}
  .testimonials__description{width:65%;padding-left:32px;padding-right:0;text-align:left}
  #steps .row{flex-direction:column}
  .step{flex-direction:column;align-items:center}
  .step__description{margin-top:12px;margin-left:0}
  .values__list{margin-left:auto;margin-right:auto}
  .value:nth-of-type(1){margin-right:0}
  .value{margin-right:0;align-items:center}
  .feature{width:50%}
  #pricing .row{margin-top:40px}
  .plans{flex-direction:column;align-items:center}
  .plan{width:100%;max-width:600px;margin-bottom:4rem}
  .start__row{flex-direction:column;gap:40px;align-items:center}
  .start__title{text-align:center;max-width:520px}
  .start__buttons{flex-direction:row;justify-content:center;gap:16px}
  .footer__columns{justify-content:flex-start;flex-wrap:wrap;gap:40px}
  .footer__column{width:calc(100%/3);flex:0 0 auto;min-width:auto}
  .footer__bottom{flex-direction:column;align-items:center}
  .footer__logo{flex:none}
  .footer__copyright{margin-top:32px;flex:none}
  .footer__socials{margin-top:32px;flex:none;margin-left:0;justify-content:center}
  .footer__social--link:first-child{margin-left:0}
}
@media(max-width:640px){
  .section__title{line-height:1.25;font-size:30px}
  .container{padding:80px 0}
  .nav__logo{margin:8px 0;padding-bottom:4px}
  .header__email{flex-direction:column;height:auto}
  .header__email--input{position:static;padding:16px 0;padding-left:32px;line-height:1.5}
  .header__email--btn{width:100%;padding:16px 0;margin:16px 0;margin-bottom:0;line-height:1.5}
  .header__customers--title{font-size:14px;letter-spacing:0.05em}
  #features .section__title,#pricing .section__title{font-size:36px}
  .feature__row{flex-direction:column;align-items:center;text-align:center}
  .feature__title{letter-spacing:0.025em;line-height:1}
  .feature__text{margin-left:0;margin-top:16px}
  .feature__para{margin-top:4px;line-height:2}
  .feature{width:100%}
  #steps .section__title{margin:16px 0 0 0}
  .steps__list{margin-top:48px}
  .btn{line-height:1.5}
  .plan__price{font-size:36px}
  .plan__bottom{padding:2rem 1rem}
  .testimonial__para{margin-bottom:32px}
  .testimonial__bottom{flex-direction:column;align-items:center;padding-top:4px}
  .testimonial__profile{flex-direction:column;align-items:center}
  .testimonial__details{margin-left:0;margin-top:8px}
  .testimonial__img{height:64px;width:64px}
  .testimonial__buttons{margin-top:32px}
  #testimonials .row{flex-direction:column;align-items:center}
  .testimonials__img{width:100%;max-width:400px;order:1}
  .testimonials__description{width:100%;padding-left:0;padding-top:48px;text-align:center;order:2}
  .start__row{flex-direction:column;gap:40px}
  .start__title{font-size:24px;text-align:center;max-width:100%}
  .start__container{padding:80px 0}
  .start__buttons{flex-direction:column;align-items:center}
  .start__button:nth-child(1){margin-right:0}
  .start__button{padding:12px 24px;font-size:14px;width:auto}
  .start__button:nth-child(2){margin-top:16px}
  main{margin-bottom:80px}
  .footer__columns{justify-content:center}
  .footer__column{width:auto;padding:0 16px;text-align:center;align-items:center}
  .footer__copyright{font-size:14px;text-align:center;line-height:1.5}
}